body {
  list-style-type: none;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  outline: none;
}

.topbar-background-section3 {
    position: absolute;
  width: 1288px;
  height: 143px;
  left: -8px;
  top: -9px;
  
  background: rgba(10, 10, 0, 0.93);
  border: 3px solid #A8BBB0;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }

  .tabButtonH {
    position: relative;
    left: 20%;
    top: 2.5em;
    height: 3em;
    width: 13em;
  margin: 1rem;
  border: 1px solid red;
  border-radius: 5px;
  background-color: #e7e7e700; 
  color: red;
  transition-duration: 0.4s;
  cursor: pointer;
  outline: none;
  }

  .tabButtonH:hover{
    border-color: #e7e7e7;
    background-color: #e7e7e7; 
    color: black;
    }

  .tabButton{
    position: relative;
    left: 20%;
    top: 2.5em;
    height: 3em;
    width: 13em;
  margin: 1rem;
  border: 1px solid #e7e7e7;
  border-radius: 5px;
  background-color: #e7e7e700; 
  color: white;
  transition-duration: 0.4s;
  cursor: pointer;
  outline: none;
  }

  .tabButton:hover{
    background-color: #e7e7e7; 
    color: black;
    }
    
 
  .homenodeviewerbutton4,
  .homeverisonhistorybutton4 {
    position: absolute;
    top: 52px;
    cursor: pointer;
  }
  .homeverisonhistorybutton4 {
    position: absolute;
    top: 52px;
    left: 550px;
  }
  .homenodeviewerbutton4 {
    position: absolute;
    top: 52px;
    left: 319px;
  }
  .sidebar-background-section6 {
  /* SideBar_Background */
    position: absolute;
    width: 290px;
    height: 151px;
    left: 1015px;
    top: -20px;
  
    background: #606060;
    border: 3px solid #A8BBB0;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 24px;
  }
  .name-span4 {
    font-weight: 600;
    font-family: var(--font-inter);
  }
  .name-hamza-al-zoubi4 {
    margin-block-start: 0;
    margin-block-end: 0;
  }
  .expiration-date-span4 {
    font-weight: 600;
  }
  .span4 {
    font-family: var(--font-inter);
  }
  .mainpageaccdetails4 {
  /* MainPageAccDetails */
  position: absolute;
  width: 231px;
  height: 91px;
  left: 1044px;
  top: 12px;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 25px;

  color: #FFFFFF;
  }
  .blockcore-1-icon2 {
    position: absolute;
    top: 17px;
    left: 59px;
    width: 103px;
    height: 100px;
    object-fit: cover;
  }
  .homemanageaccbutton4 {
    position: absolute;
    top: 52px;
    left: 756px;
    cursor: pointer;
  }
  .file-icon{
    position: relative;
    left: 299px;
    width: 66px;
    height: 75px;
    object-fit: cover;
  }
  .draganddrop-background-section3,
  .sidebar-background-section7 {
    position: absolute;
    border-radius: var(--br-md);
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    border: 3px solid var(--color-gray-200);
    box-sizing: border-box;
  }
  .sidebar-background-section7 {
   /* SideBar_Background-Left-Side */
    box-sizing: border-box;
  
    position: absolute;
    width: 250px;
    height: 613px;
    left: -26px;
    top: 134px;
  
    background: rgba(10, 10, 0, 0.93);
    border: 3px solid #A8BBB0;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 28px;
  }
  .draganddrop-background-section3 {
    /* DragAndDrop_Background */
    box-sizing: border-box;
  
    position: absolute;
    width: 204px;
    height: 429px;
    left: 9px;
    top: 226px;
  
    background: rgba(255, 255, 255, 0.36);
    border: 3px solid #A8BBB0;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 28px;
  }
  .text-signout-button4 {
    cursor: pointer;
    border: 0;
    padding: 0;
    background-color: transparent;
    position: absolute;
    top: 697px;
    left: 77px;
    font-size: var(--font-size-lg);
    font-family: var(--font-inter);
    color: white;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 68px;
    height: 12px;
    transition-duration: 0.3s;
  }

  .text-signout-button4:hover {
    color: red;
  }
  .upload-a-file {
    position: absolute;
    top: 271px;
    left: 12px;
    width: 197px;
    height: 25px;
  }
  .upload-a-file {
    top: 169px;
    left: 65px;
    line-height: 24px;
    font-family: var(--font-roboto);
    color: white;
    text-align: center;
    display: inline-block;
    width: 100px;
    height: 22px;
  }
  .home-page-div {
    position: relative;
    background-color: #EBE8E0;
    width: 1280px;
    height: 720px;
    overflow: hidden;
    text-align: left;
    font-size: var(--font-size-lg);
    color: var(--color-white);
    font-family: var(--font-inter);
  }
  


  .verticalUL{
    position: relative;
    top: 5.05em;
    left: -3em;
    height:520px; 
    width:100%;
    display: flex;
    flex-direction: column;
    overflow:hidden; 
    overflow-y:scroll;
  }
  .List{
    display: flex;
    flex-direction: row;
    width:74%;
    transition-duration: 0.3s;
    z-index: 2;
    padding-top: 1.5em;
    padding-bottom: 4.5em;
    margin-bottom: 1.5em;
    margin-left: 19%;
    user-select: none;
    outline: none;
    position: relative;
  }
  .List:hover{
    background-color: #aeaeae;
    border-color: #c9c9c900;
    cursor:pointer;
  }

  .List:focus{
    background-color: #c9c9c9;
    border-color: #60606000;
    outline: none;
  }
  .List .logo{
    position: absolute;
    margin-top: -0.8%;
    object-fit: cover;
    width: 66px;
    height: 60px;
    object-fit: cover;
   }
  .List .item1{
    position: absolute;
    margin-top: 0.9%;
    left: 10%;
   }
  .List .item2{
    position: absolute;
    margin-top: 0.9%;
    left: 55%;
   }
   .List .item3{
    position: absolute;
    margin-top: 0.9%;
    left: 70%;
   }
   .List .deleteBtn{
    font-size: x-small;
    position: absolute;
    top: 15.0%;
    left: 100.5%;
    width: 50px;
    height: 22px;
    z-index: 5;
    margin: 1rem;
    border: 2px solid red;
    border-radius: 3px;
    background-color: #e7e7e700; 
    color: red;
    transition-duration: 0.4s;
    cursor: pointer;
    text-align:center;
    text-decoration: none;
    outline: none;
    }
    .List .deleteBtn:hover{
      background-color: darkred;
      border-color: darkred;
      color: white;
    }


   .inputTag{
    font-weight: 500;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    position: absolute;
    top: 37em;
    left: 1.25em;
    width: 150px;
    height: 28px;
    outline: none;
  margin: 1rem;
  border: 1px solid #e7e7e7;
  border-radius: 5px;
  background-color: #e7e7e700; 
  color: white;
  transition-duration: 0.4s;
  cursor: pointer;
  padding-top: 0.21em;
  text-align:center;
   }

   .fileuploadfeature-input{
    display: none;
   }

   .inputTag:hover{
    border-color: #e7e7e7;
    background-color: #e7e7e7; 
    color: black;
    }
    .status-message-label{
      position: absolute;
      top: 5%;
      left: 39%;
    }
    .status-message{
      position: absolute;
      top: 10%;
      left: 20%;
    }