.blockcore-logo-icon,
.image-background-icon {
  position: absolute;
  object-fit: cover;
}


.image-background-icon {
  z-index: -1;
  top: 0;
  left: 0;
  width: 1280px;
  height: 720px;
}
.blockcore-logo-icon {
  top: 53px;
  left: 490px;
  width: 300px;
  height: 301px;
}

.input-passwordloginS {
  color: white;
  font-size: 10px;
  background-color: rgba(255, 255, 255, 0.193);
  padding: 8px 11px 8px 16px;
  gap: 10px;
  border: 1px solid #FF0000;
  border-radius: 6px;
  transition-duration: 0.4s;
}

.login-page-div {
  position: relative;
  background-color: var(--color-white);
  width: 100%;
  height: 720px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-base);
  color: var(--color-white);
  font-family: var(--font-roboto);
}

.ulLogin {
  list-style-type: none;
  position: relative;
  left: 7%;
}


.formLogin{
  color: white;
  list-style-type: none;
  
  position: absolute;
  top: 22em;
  left: 32em;
  align-content: auto;

}

.buttonL{
  position: relative;
  left: 25.5%;
  top: -1.5em;
  height: 2em;
  width: 10em;
margin: 1rem;
border: 1px solid #e7e7e7;
border-radius: 5px;
background-color: #e7e7e700; 
color: white;
transition-duration: 0.4s;
cursor: pointer;
}

.buttonL:hover{
  background-color: #e7e7e7; 
  color: black;
  }
  
  .buttonL span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
  .buttonL span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -5px;
    transition: 0.5s;
  }
  
  .buttonL:hover span {
    padding-right: 15px;
  }
  
  .buttonL:hover span:after {
    opacity: 1;
    right: 0;
  }
